<body>
    <div align="center">
       <h3>View Employees Datas</h3>
        <table>
              <thead>
                        <tr>
                           <th>Employee ID</th>
                           <th>Employee Name</th>
                           <th>Employee Salary</th>
                        </tr>
              </thead>
              <tbody>
                        <tr *ngFor="let d of data">
                           <td>{{d.eid}}</td>
                           <td>{{d.ename}}</td>
                           <td>{{d.esal}}</td>
                        </tr>
               </tbody>
        </table>
     </div>
    </body>