<div align="center">
    <h3> Insert Employee Data</h3>
       <form #insertform="ngForm" (ngSubmit)="insertdata(insertform)">
   
           <label for="eid"> Employee ID : </label>
           <input type="number" id="eid" #eid (ngModel)="eid" name="eid">
           <br> <br>
   
           <label for="ename"> Employee Name : </label>
           <input type="text" id="ename"  #ename (ngModel)="ename" name="ename">
           <br> <br>
   
           <label for="esal"> Employee Salary : </label>
           <input type="number" id="esal"  #esal (ngModel)="esal" name="esal">
           <br><br>
   
           <button type="submit" value="insert" class="btn-btn-primary">submit</button>
   
       </form>
   <div>